.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
}

.sectionWrapper {
  padding: calc(5 * var(--ifm-spacing-vertical)) calc(2 * var(--ifm-spacing-horizontal));
  padding-bottom: calc(4 * var(--ifm-spacing-vertical));

  & > * {
    max-width: var(--ifm-container-width);
  }

  &:nth-of-type(even):not(.spark) {
    background-color: var(--ifm-code-background);
  }

  @media (max-width: 475px) {
    padding: calc(4 * var(--ifm-spacing-vertical)) var(--ifm-spacing-horizontal);
    padding-bottom: calc(3 * var(--ifm-spacing-vertical));
  }
}

[data-theme="light"] .spark {
  background-color: lighten(#522260, 70%);
}

[data-theme="dark"] .spark {
  background-color: darken(#522260, 5%);
}

// Slightly boost the text colors to increase contrast with dark or light background colors
[data-theme="dark"] {
  .description,
  .itemWrapper {
    filter: brightness(1.2);
  }
}

[data-theme="light"] {
  .description,
  .itemDescription {
    filter: brightness(0.8);
  }
}

.title {
  text-align: center;
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--ifm-h5-font-size);
  color: var(--ifm-color-primary);
  letter-spacing: 0.04em;
}

.subTitle {
  line-height: 1;
  text-align: center;
  margin-top: calc(24 / 16 * var(--ifm-spacing-vertical));
  font-family: var(--ada-lang-font-family);
}

.description {
  text-align: center;
  margin-top: calc(10 / 16 * var(--ifm-spacing-vertical));
  margin-bottom: calc(32 / 16 * var(--ifm-spacing-vertical));
}

// Items

.itemWrapper {
  display: flex;
}

.itemIcon {
  padding: calc(10 / 16 * var(--ifm-global-spacing));
  margin-right: var(--ifm-spacing-horizontal);

  svg {
    scale: 2;
    fill-opacity: 0.8;
  }
}

[data-theme="light"] .itemIcon svg {
  fill: var(--ifm-color-primary);
}

[data-theme="dark"] .itemIcon svg {
  fill: var(--ifm-color-emphasis-700);
}

.itemTitle {
  margin-bottom: calc(5 / 16 * var(--ifm-spacing-vertical));
}
