.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  fill: var(--ifm-color-content);
}

.featureText h3 {
  text-align: center;
}
