.text {
  float: left;
  display: block;
  list-style-type: none;
  position: absolute;

  background-color: var(--ifm-color-secondary-contrast-background);
  border-radius: var(--ifm-global-radius);
  padding-inline: calc(0.5 * var(--ifm-global-radius));

  $ada-lang-margin-text-min-width: 1770px;

  @media (min-width: #{$ada-lang-margin-text-min-width}) {
    left: calc(var(--doc-sidebar-width) + 1rem);
  }

  @media (min-width: 997px) and (max-width: #{$ada-lang-margin-text-min-width - 1}) {
    --ada-lang-content-width: calc(0.75 * (100% - var(--doc-sidebar-width)));
    left: calc(var(--doc-sidebar-width) + var(--ada-lang-content-width));
  }

  @media (max-width: 996px) {
    right: 1.5rem;
  }
}
