.timelineItemTitle {
  font-weight: var(--ifm-font-weight-bold);
}

[data-theme="light"] .timelineItemTitle {
  color: var(--ifm-color-gray-900);
}

.timeline {
  $timeline-active-color: var(--ifm-color-primary);
  $timeline-inactive-color: var(--ifm-color-emphasis-400);

  [class*="mantine-Timeline-itemBullet"][data-active="true"] {
    background-color: #{$timeline-active-color};
    border-color: #{$timeline-active-color};
  }
  [class*="mantine-Timeline-item"][data-line-active="true"]::before {
    border-left-color: #{$timeline-active-color};
  }

  [class*="mantine-Timeline-itemBullet"]:not([data-active="true"]) {
    background-color: #{$timeline-inactive-color};
    border-color: #{$timeline-inactive-color};
    color: var(--ifm-color-white);
  }
  [class*="mantine-Timeline-item"]:not([data-line-active="true"])::before {
    border-left-color: #{$timeline-inactive-color};
  }
}
