$ada-lang-margin-info-min-width: 1770px;
$ada-lang-margin-info-color: var(--ifm-color-primary);

.wrapper {
  display: flex;
  float: left;
  position: absolute;

  & > *:first-child {
    margin-top: 6px;
    width: 16px;
    padding-top: 3px;
    border-color: #{$ada-lang-margin-info-color};
  }

  svg {
    fill: #{$ada-lang-margin-info-color};
  }

  @media (min-width: #{$ada-lang-margin-info-min-width}) {
    left: calc(var(--doc-sidebar-width) + 5rem);
  }

  @media (min-width: 997px) and (max-width: #{$ada-lang-margin-info-min-width - 1}) {
    left: calc(var(--ada-lang-right-margin) - 0.5 * var(--ifm-spacing-horizontal));
  }

  @media (max-width: 996px) {
    right: 0.5rem;
  }

  [class*="mantine-HoverCard-dropdown"] {
    background-color: var(--ifm-dropdown-background-color);
    border-color: transparent;
  }
}

[data-arm-annotations="false"] .wrapper {
  display: none;
}

@media print {
  .wrapper {
    display: none;
  }
}
