.wrapper {
  display: flex;
  float: left;
  position: absolute;

  & > *:first-child {
    margin-top: 5px;
    width: 16px;
    padding-top: 3px;
  }

  $ada-lang-margin-info-min-width: 1770px;

  @media (min-width: #{$ada-lang-margin-info-min-width}) {
    left: calc(var(--doc-sidebar-width) + 5rem);
  }

  @media (min-width: 997px) and (max-width: #{$ada-lang-margin-info-min-width - 1}) {
    --ada-lang-content-width: calc(0.75 * (100% - var(--doc-sidebar-width)));
    left: calc(var(--doc-sidebar-width) + var(--ada-lang-content-width) - 0.5rem);
  }

  @media (max-width: 996px) {
    right: 0.5rem;
  }
}

[data-arm-annotations="false"] .wrapper {
  display: none;
}

@media print {
  .wrapper {
    display: none;
  }
}
