.wrapper {
  display: flex;
  float: left;

  & > *:first-child {
    margin-left: -20px;
    margin-top: 5px;
    width: 16px;
    padding-top: 3px;
  }
}

[data-arm-annotations="false"] .wrapper {
  display: none;
}

@media print, (max-width: 996px) {
  .wrapper {
    display: none;
  }
}
