/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--ifm-container-width) / 2), 1fr));
  gap: 1rem;
  align-items: center;
}

.columns > * {
  padding: 0;
}

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLink {
  color: inherit;
  text-decoration-line: underline;
}

.heroLink:hover {
  color: inherit;
  filter: opacity(0.7);
}

.heroTabs > * {
  width: 100%;
}

.heroTabs li {
  color: var(--ifm-hero-text-color);
}

.heroTabs li[aria-selected="true"] {
  color: var(--ifm-hero-text-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-color: var(--ifm-hero-text-color);
}

.heroTabs code {
  text-align: start;
}
