.heroWrapper {
  position: relative;
  padding: calc(8 * var(--ifm-spacing-vertical)) 0;

  @media (max-width: 996px) {
    padding: calc(4 * var(--ifm-spacing-vertical)) var(--ifm-spacing-horizontal);
    padding-bottom: calc(2 * var(--ifm-spacing-vertical));
  }

  @media (max-width: 475px) {
    padding: calc(2 * var(--ifm-spacing-vertical)) var(--ifm-spacing-horizontal);
  }
}

.heroBackground {
  & > * {
    img,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      object-fit: contain;
      object-position: center;
      background-color: black;
    }
  }

  // Render a very dark blue to transparent overlay from left to right
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    background-image: linear-gradient(300deg, hsla(85, 75%, 50%, 0) 20%, hsl(210, 75%, 12%) 70%);
  }
}

.heroTabs {
  margin: 0 var(--ifm-spacing-horizontal);
}

.heroInner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: var(--ifm-font-weight-bold);
  font-size: 60px;
  font-family: var(--ada-lang-font-family);
  letter-spacing: -1px;
  padding: 0 var(--ifm-spacing-horizontal);
  color: var(--ifm-color-white);
  margin-bottom: calc(10 / 16 * var(--ifm-spacing-horizontal));
  text-align: center;

  @media (max-width: 520px) {
    font-size: 28px;
    text-align: left;
  }
}

.description {
  color: var(--ifm-color-gray-300);
  text-align: center;

  @media (max-width: 520px) {
    font-size: var(--ifm-font-size-base);
    text-align: left;
  }
}

.textDownloadLinks {
  color: var(--ifm-color-gray-300);
  text-align: center;
  margin-top: calc(0.5 * var(--ifm-spacing-vertical));

  @media (max-width: 996px) {
    // Add some extra spacing between the two rows on small screens
    margin-bottom: calc(0.5 * var(--ifm-spacing-vertical));
  }

  a {
    color: inherit;
    text-decoration-line: underline;

    &:hover {
      color: inherit;
      filter: opacity(0.7);
    }
  }
}

.controls {
  margin-top: calc(2.25 * var(--ifm-spacing-vertical));

  a {
    text-decoration: none;
    color: var(--ifm-color-white);

    &:hover {
      color: var(--ifm-color-gray-200);

      .downloadIcon {
        fill: var(--ifm-color-gray-200);
      }
    }
  }

  @media (max-width: 520px) {
    flex-direction: column;
    gap: calc(1.5 * var(--ifm-spacing-vertical));
    margin-bottom: calc(24 / 16 * var(--ifm-spacing-vertical));
  }
}

.controlPrimary {
}

.controlSecondary {
  background-color: rgba(255, 255, 255, 0.4);

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.downloadIcon {
  height: 16px;
  fill: var(--ifm-color-white);

  // Make sure the icon changes color with the same speed as the text in the button
  transition: fill var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.columns {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--ifm-container-width) / 4), calc(var(--ifm-container-width) / 1.5))
  );
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & > * {
    padding: 0;
  }
}

.codeTabPanels pre {
  backdrop-filter: blur(9px);
  //  background-color: rgba(0, 0, 0, .4) !important;
  background-color: hsla(210, 25%, 5%, 0.6) !important;
  border-radius: calc(2 * var(--ifm-code-border-radius));
  height: 360px;
  //  height: calc(16em * var(--ifm-pre-line-height) + 10px);

  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height) var(--ifm-font-family-monospace);
  letter-spacing: normal;
}

.codeTabPanel [class*="mantine-Prism-root"] {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.65);
  border-radius: calc(2 * var(--ifm-code-border-radius));
}
