.aarm {
  font-size: small;
  margin-left: 2em;
}

.aarm > div {
  padding: calc(0.5 * var(--ifm-alert-padding-vertical))
    calc(0.5 * var(--ifm-alert-padding-horizontal));
}

.aarm > div > div {
  font-size: small;
}

.aarm div[class*="admonitionHeading"] {
  display: none;
}
