.aarm {
  font-size: small;
  margin-left: 2em;

  & > div {
    padding: calc(0.5 * var(--ifm-alert-padding-vertical))
      calc(0.5 * var(--ifm-alert-padding-horizontal));

    & > div {
      font-size: small;
    }
  }

  p strong {
    display: none;
  }
}
