/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Display logos when JavaScript is disabled */
:not([data-theme="light"])[class*="themedImage--dark"] {
  display: inline !important;
}

/* Prevent layout shift of items to the right of the logo when toggling theme */
.navbar__logo {
  width: 32px;
  height: 32px;
}

/**
 * Icons in header
 */

.fa-icon::before {
  content: "";
  display: flex;
  mask-repeat: round;
  background-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header__image::before {
  background-color: var(--ifm-color-white);
  width: 24px;
  height: 24px;
}

.header__image:hover::before {
  opacity: 0.5;
  background-color: var(--ifm-footer-link-hover-color);
}

.header-github-link::before {
  mask-image: url("../../static/img/fontawesome/brands/github.svg");
}

/**
 * Icons in footer
 */

.footer__image::before {
  background-color: var(--ifm-footer-color);
  width: 16px;
  height: 16px;
}

.footer__image:hover {
  color: var(--ifm-footer-link-hover-color);
}

.footer__image:hover::before {
  background-color: var(--ifm-footer-link-hover-color);
}

.footer__image {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--ifm-footer-color);
  height: 2em; /* This is a hack to reset height to what icon-less footer images have */
}

/**
 * Brand icons in Community and More columns in footer
 */

.footer-github-link::before {
  mask-image: url("../../static/img/fontawesome/brands/github.svg");
}

.footer-gitter-link::before {
  mask-image: url("../../static/img/fontawesome/brands/gitter.svg");
}

.footer-reddit-link::before {
  mask-image: url("../../static/img/fontawesome/brands/reddit-alien.svg");
}

.footer-telegram-link::before {
  mask-image: url("../../static/img/fontawesome/brands/telegram.svg");
}

.footer-stackoverflow-link::before {
  mask-image: url("../../static/img/fontawesome/brands/stack-overflow.svg");
}
