/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://rsms.me/inter/inter.css");

:root {
  font-family: "Inter", var(--ifm-font-family-base);

  // Font features (https://rsms.me/inter/#features)
  // prettier-ignore
  font-feature-settings:
    "calt", // contextual alternatives
    "tnum", // fixed-with numbers
    "frac", // fractions
    "case", // alternatives near capital letters and numbers
    "cpsp", // capital spacing
    "ss01", // alternative digits
    "ss04", // disambiguation without slashed zero
    "ss03"; // alternative r for better readability
  --ada-lang-font-family: "Inter", var(--ifm-font-family-base);
  --ifm-heading-font-family: var(--ada-lang-font-family);
  letter-spacing: -0.025em;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", var(--ifm-font-family-base);
    --ada-lang-font-family: "Inter var", var(--ifm-font-family-base);
  }
}

// You can override the default Infima variables here
:root {
  --ifm-color-primary: #228be6; // #2e8555;

  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

// For readability concerns, you should choose a lighter palette in dark mode
[data-theme="dark"] {
  --ifm-color-primary: #228be6; // #25c2a0;

  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  --ifm-footer-background-color: #4a4639;
}

// Display logos when JavaScript is disabled
:not([data-theme="light"])[class*="themedImage--dark"] {
  display: inline !important;
}

// Prevent layout shift of items to the right of the logo when toggling theme
.navbar__logo {
  width: 32px;
  height: 32px;
}

// Icons in header

.fa-icon::before {
  content: "";
  display: flex;
  mask-repeat: round;
  background-repeat: no-repeat;
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header__image {
  &::before {
    background-color: var(--ifm-color-white);
    width: 24px;
    height: 24px;
  }

  &:hover::before {
    opacity: 0.5;
    background-color: var(--ifm-footer-link-hover-color);
  }
}

.header-github-link::before {
  mask-image: url("../../static/img/fontawesome/brands/github.svg");
}

// Icons in footer
.footer__image {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--ifm-footer-color);
  height: 2em; // This is a hack to reset height to what icon-less footer images have

  &::before {
    background-color: var(--ifm-footer-color);
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: var(--ifm-footer-link-hover-color);

    &::before {
      background-color: var(--ifm-footer-link-hover-color);
    }
  }
}

.footer__title {
  font-family: var(--ada-lang-font-family);
}

// Brand icons in Community and More columns in footer

.footer-github-link::before {
  mask-image: url("../../static/img/fontawesome/brands/github.svg");
}

.footer-gitter-link::before {
  mask-image: url("../../static/img/fontawesome/brands/gitter.svg");
}

.footer-reddit-link::before {
  mask-image: url("../../static/img/fontawesome/brands/reddit-alien.svg");
}

.footer-telegram-link::before {
  mask-image: url("../../static/img/fontawesome/brands/telegram.svg");
}

.footer-stackoverflow-link::before {
  mask-image: url("../../static/img/fontawesome/brands/stack-overflow.svg");
}
