$color-checked: var(--ifm-color-primary);
$color-unchecked: var(--ifm-color-emphasis-300);

$color-checked-hover: var(--ifm-color-primary-light);
$color-unchecked-hover: var(--ifm-color-emphasis-400);

.control {
  input ~ * {
    cursor: pointer;
  }

  input:checked + div {
    background-color: #{$color-checked};
    border-color: #{$color-checked};

    &:hover {
      background-color: #{$color-checked-hover};
      border-color: #{$color-checked-hover};
    }
  }

  input:not(:checked) + div {
    background-color: #{$color-unchecked};
    border-color: #{$color-unchecked};

    &:hover {
      background-color: #{$color-unchecked-hover};
      border-color: #{$color-unchecked-hover};
    }
  }
}
